@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    justify-items: center;
}
body{
    background-color: #E0CAFA;
}
header{
    height: 50px;
}
h1{
    font-family: "Barrio", system-ui, sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 50px;
    color: #431F6F;
    margin: 0px;
}
h2{
    margin:0px;
    font-weight: bold;
    font-size: 30px ;
}
#dice-container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
}
.die{
    width: 80px;
    height: 80px;
    background-color:white;
    border: 2px solid black;
    border-radius: 25px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    padding:10px

}
.dot {
    width: 10px;
    height: 10px;
    background: #111;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    display: none; hidden by default; face classes show certain pips
}

.top-left {
    grid-area: 1/1/2/2; 
}
.top-center{
    grid-area: 1/2/2/3; 
}
.top-right {
    grid-area: 1/3/2/4;
}
.center-left{
    grid-area: 2/1/3/2;
}
.center{
    grid-area: 2/2/3/3;
}
.center-right{
    grid-area: 2/3/3/4;
}
.bottom-left {
    grid-area: 3/1/4/2;
}
.bottom-center{
    grid-area: 3/2/4/3;
}
.bottom-right {
    grid-area: 3/3/4/4;
}
/* 
To Find all the elements with class I need (based on grid) inside element that has class faces (face-x) that I need and show it  */
/* Face 1 */
.face-1 .center { 
    display: block; 
}

/* Face 2  */
.face-2 .top-left,
.face-2 .bottom-right { 
    display: block; 
}

/* Face 3 */
.face-3 .top-left,
.face-3 .center,
.face-3 .bottom-right { 
    display: block; 
}

/* Face 4 */
.face-4 .top-left,
.face-4 .top-right,
.face-4 .bottom-left,
.face-4 .bottom-right { 
    display: block; 
}

/* Face 5 */
.face-5 .top-left,
.face-5 .top-right,
.face-5 .center,
.face-5 .bottom-left,
.face-5 .bottom-right { 
    display: block; }

/* Face 6 */
.face-6 .top-left,
.face-6 .top-right,
.face-6 .center-left,
.face-6 .center-right,
.face-6 .bottom-left,
.face-6 .bottom-right { display: block; }

#scorecard-table, th, td {
    border: 1px solid purple;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
}

#scorecard-table{
    width: 100%;
}

.table-disabled {
    pointer-events: none;  /* prevents any clicks scorecard*/
}

.taken{
    color:red;
}

.held{
    border: 2px solid red;
}

button{
  color: #fff;
  padding: 15px 25px;
  border-radius: 75px;
  background-color: #7135BA;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
p {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0px;
}

#rolls-left, #game-status{
    font-weight: bold;
    font-size: 25px ;
}

#score-section{
    height: 20px;
}
.yahtzee-disabled {
    pointer-events: none;  /* prevents any clicks scorecard*/
}
:disabled{
    opacity:0.5;
}
.disabled{
    pointer-events: none;
}
