* {
    box-sizing: border-box;
}

#dice-container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
}

.die{
    width: 80px;
    height: 80px;
    background-color:white;
    border: 2px solid black;
    border-radius: 25px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    padding:10px

}
.dot {
    width: 10px;
    height: 10px;
    background: #111;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    display: none; hidden by default; face classes show certain pips
}

.top-left {
    grid-area: 1/1/2/2; 
}
.top-center{
    grid-area: 1/2/2/3; 
}
.top-right {
    grid-area: 1/3/2/4;
}
.center-left{
    grid-area: 2/1/3/2;
}
.center{
    grid-area: 2/2/3/3;
}
.center-right{
    grid-area: 2/3/3/4;
}
.bottom-left {
    grid-area: 3/1/4/2;
}
.bottom-center{
    grid-area: 3/2/4/3;

}
.bottom-right {
    grid-area: 3/3/4/4;
}
/* 
To Find all the elements with class I need (based on grid) inside element that has class faces (face-x) that I need and show it  */
/* Face 1 */
.face-1 .center { 
    display: block; 
}

/* Face 2  */
.face-2 .top-left,
.face-2 .bottom-right { 
    display: block; 
}

/* Face 3 */
.face-3 .top-left,
.face-3 .center,
.face-3 .bottom-right { 
    display: block; 
}

/* Face 4 */
.face-4 .top-left,
.face-4 .top-right,
.face-4 .bottom-left,
.face-4 .bottom-right { 
    display: block; 
}

/* Face 5 */
.face-5 .top-left,
.face-5 .top-right,
.face-5 .center,
.face-5 .bottom-left,
.face-5 .bottom-right { 
    display: block; }

/* Face 6 */
.face-6 .top-left,
.face-6 .top-right,
.face-6 .center-left,
.face-6 .center-right,
.face-6 .bottom-left,
.face-6 .bottom-right { display: block; }

#scorecard-table, th, td {
    border: 1px solid black;
    margin-top: 10px;
}

.table-disabled {
    pointer-events: none;  /* prevents any clicks scorecard*/
}

.taken{
    color:red;
}

.held{
    border: 2px solid red;
}